.loginBox {
  height: 100dvh;
  height: 100vh;
  display: flex;
  align-items: center;
  .eye {
    padding: 4px;
    cursor: pointer;
    svg {
      display: block;
      font-size: var(--adm-font-size-7);
    }
  }
}
